<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>addDate</key>
			<string>2020-05-26</string>
			<key>data</key>
			<array>
				<dict>
					<key>CartItemID</key>
					<integer>61</integer>
					<key>Product</key>
					<dict>
						<key>ProdAbstract</key>
						<string>null</string>
						<key>ProdAuthorName</key>
						<string>null</string>
						<key>ProdCreateTime</key>
						<string>2020-03-24 12:00:00</string>
						<key>ProdCreator</key>
						<integer>1</integer>
						<key>ProdForm</key>
						<integer>10</integer>
						<key>ProdID</key>
						<integer>896</integer>
						<key>ProdIOSPrice</key>
						<integer>0</integer>
						<key>ProdImg</key>
						<string>/upload/1984/Layouts/ZS198403.Source.jpg</string>
						<key>ProdIsDiscount</key>
						<integer>0</integer>
						<key>ProdIsFree</key>
						<false/>
						<key>ProdIsRCMD</key>
						<integer>1</integer>
						<key>ProdIssue</key>
						<integer>3</integer>
						<key>ProdLevel</key>
						<integer>1</integer>
						<key>ProdName</key>
						<string>中国税务</string>
						<key>ProdPrice</key>
						<integer>0</integer>
						<key>ProdShowStatus</key>
						<integer>1</integer>
						<key>ProdStatus</key>
						<integer>10</integer>
						<key>ProdSumIssue</key>
						<integer>0</integer>
						<key>ProdType</key>
						<integer>10</integer>
						<key>ProdUpdateDate</key>
						<string>2020-05-20 02:14:24</string>
						<key>ProdUpdateMan</key>
						<integer>11</integer>
						<key>ProdYear</key>
						<integer>1984</integer>
						<key>ReadSourceID</key>
						<string>896</string>
						<key>ReadSourceParentID</key>
						<integer>10</integer>
						<key>ReadSourceType</key>
						<integer>20</integer>
						<key>ReadSourceURL</key>
						<string>/Journal/Detail/id/896</string>
						<key>ReadTypeRootCode</key>
						<string>qk</string>
						<key>ReadTypeRootID</key>
						<integer>1</integer>
						<key>ReadingTypeID</key>
						<integer>2</integer>
					</dict>
					<key>ProductCount</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CartItemID</key>
					<integer>62</integer>
					<key>Product</key>
					<dict>
						<key>ProdAbstract</key>
						<string>null</string>
						<key>ProdAuthorName</key>
						<string>顾树祯</string>
						<key>ProdCreateTime</key>
						<string>2020-03-24 12:00:00</string>
						<key>ProdCreator</key>
						<integer>1</integer>
						<key>ProdForm</key>
						<integer>10</integer>
						<key>ProdID</key>
						<integer>28623</integer>
						<key>ProdIOSPrice</key>
						<real>1.6</real>
						<key>ProdImg</key>
						<string>/upload/1984/Layouts/ZS198401.Source.jpg</string>
						<key>ProdIsDiscount</key>
						<integer>0</integer>
						<key>ProdIsFree</key>
						<false/>
						<key>ProdIsRCMD</key>
						<integer>1</integer>
						<key>ProdIssue</key>
						<integer>1</integer>
						<key>ProdLevel</key>
						<integer>1</integer>
						<key>ProdName</key>
						<string>利改税第二步改革是城市经济改革的重大突破</string>
						<key>ProdPrice</key>
						<real>1.6</real>
						<key>ProdShowStatus</key>
						<integer>0</integer>
						<key>ProdStatus</key>
						<integer>10</integer>
						<key>ProdSumIssue</key>
						<integer>0</integer>
						<key>ProdType</key>
						<integer>10</integer>
						<key>ProdUpdateDate</key>
						<string>null</string>
						<key>ProdUpdateMan</key>
						<integer>0</integer>
						<key>ProdYear</key>
						<integer>1984</integer>
						<key>ReadSourceID</key>
						<string>28623</string>
						<key>ReadSourceParentID</key>
						<integer>10</integer>
						<key>ReadSourceType</key>
						<integer>30</integer>
						<key>ReadSourceURL</key>
						<string>/Journal/Article/id/28623</string>
						<key>ReadTypeRootCode</key>
						<string>qk</string>
						<key>ReadTypeRootID</key>
						<integer>1</integer>
						<key>ReadingTypeID</key>
						<integer>2</integer>
					</dict>
					<key>ProductCount</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CartItemID</key>
					<integer>63</integer>
					<key>Product</key>
					<dict>
						<key>ProdAbstract</key>
						<string>null</string>
						<key>ProdAuthorName</key>
						<string>顾树祯</string>
						<key>ProdCreateTime</key>
						<string>2020-03-24 12:00:00</string>
						<key>ProdCreator</key>
						<integer>1</integer>
						<key>ProdForm</key>
						<integer>10</integer>
						<key>ProdID</key>
						<integer>28623</integer>
						<key>ProdIOSPrice</key>
						<real>1.6</real>
						<key>ProdImg</key>
						<string>/upload/1984/Layouts/ZS198401.Source.jpg</string>
						<key>ProdIsDiscount</key>
						<integer>0</integer>
						<key>ProdIsFree</key>
						<false/>
						<key>ProdIsRCMD</key>
						<integer>1</integer>
						<key>ProdIssue</key>
						<integer>1</integer>
						<key>ProdLevel</key>
						<integer>1</integer>
						<key>ProdName</key>
						<string>1利改税第二步改革是城市经济改革的重大突破</string>
						<key>ProdPrice</key>
						<real>1.6</real>
						<key>ProdShowStatus</key>
						<integer>0</integer>
						<key>ProdStatus</key>
						<integer>10</integer>
						<key>ProdSumIssue</key>
						<integer>0</integer>
						<key>ProdType</key>
						<integer>10</integer>
						<key>ProdUpdateDate</key>
						<string>null</string>
						<key>ProdUpdateMan</key>
						<integer>0</integer>
						<key>ProdYear</key>
						<integer>1984</integer>
						<key>ReadSourceID</key>
						<string>28623</string>
						<key>ReadSourceParentID</key>
						<integer>10</integer>
						<key>ReadSourceType</key>
						<integer>30</integer>
						<key>ReadSourceURL</key>
						<string>/Journal/Article/id/28623</string>
						<key>ReadTypeRootCode</key>
						<string>qk</string>
						<key>ReadTypeRootID</key>
						<integer>1</integer>
						<key>ReadingTypeID</key>
						<integer>2</integer>
					</dict>
					<key>ProductCount</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>addDate</key>
			<string>2020-05-25</string>
			<key>data</key>
			<array>
				<dict>
					<key>CartItemID</key>
					<integer>52</integer>
					<key>Product</key>
					<dict>
						<key>ProdAbstract</key>
						<string>null</string>
						<key>ProdAuthorName</key>
						<string>李清如</string>
						<key>ProdCreateTime</key>
						<string>2020-03-24 12:00:00</string>
						<key>ProdCreator</key>
						<integer>1</integer>
						<key>ProdForm</key>
						<integer>10</integer>
						<key>ProdID</key>
						<integer>74934</integer>
						<key>ProdIOSPrice</key>
						<integer>9</integer>
						<key>ProdImg</key>
						<string>/upload/2020/Layouts/GS202002.Source.jpg</string>
						<key>ProdIsDiscount</key>
						<integer>0</integer>
						<key>ProdIsFree</key>
						<false/>
						<key>ProdIsRCMD</key>
						<integer>0</integer>
						<key>ProdIssue</key>
						<integer>2</integer>
						<key>ProdLevel</key>
						<integer>1</integer>
						<key>ProdName</key>
						<string>消费税改革与日本平成时期经济社会变迁</string>
						<key>ProdPrice</key>
						<integer>9</integer>
						<key>ProdShowStatus</key>
						<integer>0</integer>
						<key>ProdStatus</key>
						<integer>10</integer>
						<key>ProdSumIssue</key>
						<integer>0</integer>
						<key>ProdType</key>
						<integer>10</integer>
						<key>ProdUpdateDate</key>
						<string>null</string>
						<key>ProdUpdateMan</key>
						<integer>0</integer>
						<key>ProdYear</key>
						<integer>2020</integer>
						<key>ReadSourceID</key>
						<string>74934</string>
						<key>ReadSourceParentID</key>
						<integer>14</integer>
						<key>ReadSourceType</key>
						<integer>30</integer>
						<key>ReadSourceURL</key>
						<string>/Journal/Article/id/74934</string>
						<key>ReadTypeRootCode</key>
						<string>qk</string>
						<key>ReadTypeRootID</key>
						<integer>1</integer>
						<key>ReadingTypeID</key>
						<integer>2</integer>
					</dict>
					<key>ProductCount</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CartItemID</key>
					<integer>52</integer>
					<key>Product</key>
					<dict>
						<key>ProdAbstract</key>
						<string>null</string>
						<key>ProdAuthorName</key>
						<string>李清如</string>
						<key>ProdCreateTime</key>
						<string>2020-03-24 12:00:00</string>
						<key>ProdCreator</key>
						<integer>1</integer>
						<key>ProdForm</key>
						<integer>10</integer>
						<key>ProdID</key>
						<integer>74934</integer>
						<key>ProdIOSPrice</key>
						<integer>9</integer>
						<key>ProdImg</key>
						<string>/upload/2020/Layouts/GS202002.Source.jpg</string>
						<key>ProdIsDiscount</key>
						<integer>0</integer>
						<key>ProdIsFree</key>
						<false/>
						<key>ProdIsRCMD</key>
						<integer>0</integer>
						<key>ProdIssue</key>
						<integer>2</integer>
						<key>ProdLevel</key>
						<integer>1</integer>
						<key>ProdName</key>
						<string>1消费税改革与日本平成时期经济社会变迁</string>
						<key>ProdPrice</key>
						<integer>9</integer>
						<key>ProdShowStatus</key>
						<integer>0</integer>
						<key>ProdStatus</key>
						<integer>10</integer>
						<key>ProdSumIssue</key>
						<integer>0</integer>
						<key>ProdType</key>
						<integer>10</integer>
						<key>ProdUpdateDate</key>
						<string>null</string>
						<key>ProdUpdateMan</key>
						<integer>0</integer>
						<key>ProdYear</key>
						<integer>2020</integer>
						<key>ReadSourceID</key>
						<string>74934</string>
						<key>ReadSourceParentID</key>
						<integer>14</integer>
						<key>ReadSourceType</key>
						<integer>30</integer>
						<key>ReadSourceURL</key>
						<string>/Journal/Article/id/74934</string>
						<key>ReadTypeRootCode</key>
						<string>qk</string>
						<key>ReadTypeRootID</key>
						<integer>1</integer>
						<key>ReadingTypeID</key>
						<integer>2</integer>
					</dict>
					<key>ProductCount</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CartItemID</key>
					<integer>52</integer>
					<key>Product</key>
					<dict>
						<key>ProdAbstract</key>
						<string>null</string>
						<key>ProdAuthorName</key>
						<string>李清如</string>
						<key>ProdCreateTime</key>
						<string>2020-03-24 12:00:00</string>
						<key>ProdCreator</key>
						<integer>1</integer>
						<key>ProdForm</key>
						<integer>10</integer>
						<key>ProdID</key>
						<integer>74934</integer>
						<key>ProdIOSPrice</key>
						<integer>9</integer>
						<key>ProdImg</key>
						<string>/upload/2020/Layouts/GS202002.Source.jpg</string>
						<key>ProdIsDiscount</key>
						<integer>0</integer>
						<key>ProdIsFree</key>
						<false/>
						<key>ProdIsRCMD</key>
						<integer>0</integer>
						<key>ProdIssue</key>
						<integer>2</integer>
						<key>ProdLevel</key>
						<integer>1</integer>
						<key>ProdName</key>
						<string>2消费税改革与日本平成时期经济社会变迁</string>
						<key>ProdPrice</key>
						<integer>9</integer>
						<key>ProdShowStatus</key>
						<integer>0</integer>
						<key>ProdStatus</key>
						<integer>10</integer>
						<key>ProdSumIssue</key>
						<integer>0</integer>
						<key>ProdType</key>
						<integer>10</integer>
						<key>ProdUpdateDate</key>
						<string>null</string>
						<key>ProdUpdateMan</key>
						<integer>0</integer>
						<key>ProdYear</key>
						<integer>2020</integer>
						<key>ReadSourceID</key>
						<string>74934</string>
						<key>ReadSourceParentID</key>
						<integer>14</integer>
						<key>ReadSourceType</key>
						<integer>30</integer>
						<key>ReadSourceURL</key>
						<string>/Journal/Article/id/74934</string>
						<key>ReadTypeRootCode</key>
						<string>qk</string>
						<key>ReadTypeRootID</key>
						<integer>1</integer>
						<key>ReadingTypeID</key>
						<integer>2</integer>
					</dict>
					<key>ProductCount</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>CartItemID</key>
					<integer>52</integer>
					<key>Product</key>
					<dict>
						<key>ProdAbstract</key>
						<string>null</string>
						<key>ProdAuthorName</key>
						<string>李清如</string>
						<key>ProdCreateTime</key>
						<string>2020-03-24 12:00:00</string>
						<key>ProdCreator</key>
						<integer>1</integer>
						<key>ProdForm</key>
						<integer>10</integer>
						<key>ProdID</key>
						<integer>74934</integer>
						<key>ProdIOSPrice</key>
						<integer>9</integer>
						<key>ProdImg</key>
						<string>/upload/2020/Layouts/GS202002.Source.jpg</string>
						<key>ProdIsDiscount</key>
						<integer>0</integer>
						<key>ProdIsFree</key>
						<false/>
						<key>ProdIsRCMD</key>
						<integer>0</integer>
						<key>ProdIssue</key>
						<integer>2</integer>
						<key>ProdLevel</key>
						<integer>1</integer>
						<key>ProdName</key>
						<string>3消费税改革与日本平成时期经济社会变迁</string>
						<key>ProdPrice</key>
						<integer>9</integer>
						<key>ProdShowStatus</key>
						<integer>0</integer>
						<key>ProdStatus</key>
						<integer>10</integer>
						<key>ProdSumIssue</key>
						<integer>0</integer>
						<key>ProdType</key>
						<integer>10</integer>
						<key>ProdUpdateDate</key>
						<string>null</string>
						<key>ProdUpdateMan</key>
						<integer>0</integer>
						<key>ProdYear</key>
						<integer>2020</integer>
						<key>ReadSourceID</key>
						<string>74934</string>
						<key>ReadSourceParentID</key>
						<integer>14</integer>
						<key>ReadSourceType</key>
						<integer>30</integer>
						<key>ReadSourceURL</key>
						<string>/Journal/Article/id/74934</string>
						<key>ReadTypeRootCode</key>
						<string>qk</string>
						<key>ReadTypeRootID</key>
						<integer>1</integer>
						<key>ReadingTypeID</key>
						<integer>2</integer>
					</dict>
					<key>ProductCount</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>msg</key>
	<string>查询成功</string>
	<key>msgCode</key>
	<string>200</string>
	<key>pageIndex</key>
	<integer>1</integer>
	<key>pageSize</key>
	<integer>10</integer>
	<key>ret</key>
	<true/>
	<key>totalCount</key>
	<integer>3</integer>
</dict>
</plist>
